
.dream-input-main {
    background: #fff;
    padding: 23px;
    margin: 46px 0 0;
}
.dream-input-main-button {
  text-align: center;
}
.dream-input-main-button button{}
.dream-input-main input {
    
}
.title-sett {
    font-size: 22px;
    display: inline-flex;
}
.dream-input-main .ivu-upload{
  width: 100%;
}
.dream-input-main .ivu-upload button{
  width: 100%;
      text-align: left;
    padding-left: 7px;
    color: #b3b0b0;
}
.margin-top-10 {
    margin-top: 10px;
}
.logo{
    width: 200px;
    margin-top: 20px;
}
.layout{
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout-header-bar{
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-logo-left{
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }
    .menu-icon{
        transition: all .3s;
    }
    .rotate-icon{
        transform: rotate(-90deg);
    }
    .menu-item span{
        display: inline-block;
        overflow: hidden;
        width: 69px;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        transition: width .2s ease .2s;
    }
    .menu-item i{
        transform: translateX(0px);
        transition: font-size .2s ease, transform .2s ease;
        vertical-align: middle;
        font-size: 16px;
    }
    .collapsed-menu span{
        width: 0px;
        transition: width .2s ease;
    }
    .collapsed-menu i{
        transform: translateX(5px);
        transition: font-size .2s ease .2s, transform .2s ease .2s;
        vertical-align: middle;
        font-size: 22px;
    }
.ivu-layout-sider-children{
    height: 100vh !important;
    overflow: auto !important;
}
.total_cost {
    width: 358px;
    margin: 0 auto;
}
.total_cost_top {
    border: 1px solid;
}
.dis{
    display: flex;
}
.flex_space{
    flex: 1 1;
}
.b_color{
    border-color: #ddd !important;
}
.text_right{
    text-align: right;
}
.text_center{
    text-align: center;
}
.total_cost_main {
    padding: 11px 15px 11px;
}
.total_cost_main_left{}
.total_cost_main_right {
    width: 171px;
}
.total_cost_main_left_text {
    font-size: 15px;
    color: #000;
    font-weight: 600;
}
.total_cost_bottom {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.buyer_tables {
    padding: 55px 0 10px;
}
.buyer_tables_all_name_all {
    margin-bottom: 17px;
}
.buyer_tables_all_name {
    font-size: 16px;
}
.buyer_tables_all_title {
    font-size: 16px;
    font-weight: 600;
    width: 116px;
}
.buyer_tables_main {
    margin-bottom: 27px;
}
.buyer_tables_main_all:first-child {
    border-top: 1px solid;
}
.buyer_tables_main_all {
    border-bottom: 1px solid;
    border-left: 1px solid;
}
.buyer_tables_main_name {
    border-right: 1px solid;
    padding: 7px 12px;
}
.buyer_tables_main_text {
    font-size: 15px;
    color: #3c3b3b;
}
.buyer_tables_main_num {
    border-right: 1px solid;
    width: 187px;
    text-align: right;
    padding: 7px 12px;
}
.buyer_tables_main_title {
    font-weight: bold;
    color: #000;
    font-size: 15px;
}
.table_title_bg {
    background: #f8f8f9;
}
.Total_Sales .buyer_tables_main_num {
    border-right: none;
}
.Total_Sales .buyer_tables_main_name {
    border-right: none;
}
.Total_Sales {
    padding: 11px 0;
}
.Total_Sales_text:last-child{
    margin-right: 0px;
}
.Total_Sales_text {
    font-weight: bold;
    color: #000;
    font-size: 15px;
    margin-right: 32px;
}
.Total_Sales_text_span{}
.{}
.{}
.{}
.{}
.{}
.{}
